<div id="brickwall">
    <img src="/images/IMAG1393.jpg"/>
</div>

<div class="col-lg-2"></div>



<div class="col-lg-8 about">
  <p>
    <br>
    Just like any other world class city, Chicago offers an amazing array of art that can be seen in a museum or on a brick wall. A ride up and down the L will only expose you to a fraction of the Chicago street art on display throughout the city.
    <br>
    <br>
    This page is intended to lessen that gap. It is our hope to catalogue the history of installations and commissioned walls through crowd sourced entries, allowing you to follow the transition of these communal art spaces.
    <br>
    <br>
    We can’t always be the eyes on the street and need your help to allow this project to function. We’d love to see what moves and inspires you. Send us your photos.
    <br>
  </p>
</div>
<div class="col-lg-2"></div>
