<div id="brickwall">
    <img src="/images/IMAG1492.jpg" alt="" />
</div>


<h1 style="text-align: center;">{{message}}</h1>
<h2 style="text-align: center;">{{error.status}}</h2>
<h1><a  style="text-align: center; display: block;" href="/">Home</a></h1>
