<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div id="slideshow">
  <img src="/images/IMAG1354.jpg" class="bgM"/>
  <img src="/images/IMAG1406.jpg" class="bgM"/>
  <img src="/images/IMAG1416.jpg" class="bgM"/>
  <img src="/images/IMAG1438.jpg" class="bgM"/>
  <img src="/images/IMAG1460.jpg" class="bgM"/>
  <img src="/images/IMAG1362.jpg" class="bgM"/>
  <img src="/images/IMAG1384.jpg" class="bgM"/>
  <img src="/images/IMAG1391.jpg" class="bgM"/>
  <img src="/images/IMAG1428.jpg" class="bgM"/>
  <img src="/images/IMAG1492.jpg" class="bgM"/>
</div>
