<!-- <section> -->
<div id="brickwall">
    <img src="/images/Brick-wallaper-For-Background-21.jpg" alt="" />
</div>


<div class="loginregister">
  <div class="container">
        <div class="row">
            <div class="col-lg-5 login">
                <h1 class="section-heading">Login</h1>
                <form action="/users/login" method="post">
                  <input class="form-control" type="text" name="username" value="" placeholder="Your Username">
                  <input class="form-control" type="password" name="password" value="" placeholder="Your password">
                  <button type="submit" class="btn btn-primary">Log In</button>
                </form>
            </div>

            <div class="col-lg-1">

            </div>


            <div class="col-lg-6 login">
                <h1 class="section-heading">Register</h1>
                <form action="/users/register" method="post">
                  <input class="form-control" type="text" name="username" value="" placeholder="Your Username">
                  <input class="form-control" type="email" name="email" value="" placeholder="Your email">
                  <input class="form-control" type="password" name="password" value="" placeholder="Your password">
                  <input class="form-control" type="password" name="password_conf" value="" placeholder="Confirm your password">
                  <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
</section>
