<div id="login">
  <h1>Log in</h1>
  <form id="login">
    <input type="email" placeholder="Email" />
    <input type="password" placeholder="Password" />
    <input type="submit" value="Log in" />
  </form>
</div>

<div id="register">
  <h1>Log in</h1>
  <form id="register">
    <input type="email" placeholder="Email" />
    <input type="password" placeholder="Password" />
    <input type="submit" value="Register" />
  </form>
</div>
