<div id="brickwall">
    <img src="/images/IMAG1492.jpg" alt="" />
</div>

<div class="login">
  <h1>{{message}}</h1>
  <br/>
  <p><a href="/contribute">You may now click here to contribute photos!</a></p>
</div>
