<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
    <script type="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/script.js"></script>


    <!--  -->

  <div id="login">
    <h1>Log in</h1>
    <form id="login">
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <input type="submit" value="Log in" />
    </form>
  </div>
  <!--  -->


  </body>
</html>
